body {
  margin: 0;
  font-family: 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(196, 196, 196);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  height: 8rem;
  background-color: rgb(155, 155, 155);
  padding-top: 0;
}

.nav h1 {
  padding-top: 2.5rem;
  margin-top: 0;
  text-indent: 4rem;
}

.totalContainer {
  height: 20rem;
  display: flex;
  justify-content: space-around;
}

.total {
  height: 13rem;
  width: 45%;
  background-color: rgb(155, 155, 155);
  margin-top: 2rem;
  border-radius: 1.7rem;
  text-align: center;
  text-transform: uppercase;
}

.total h1 {
  padding-top: 1rem;
  font-size: 2.2rem;
}

.total p {
  font-size: 4.2rem;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

td {
  text-indent: 2rem;
  font-size: 1.4rem;
}

th {
  background-color: rgb(155, 155, 155);
  text-align: left;
  text-indent: 2rem;
}

.table {
  width: 95%;
  margin: 1rem auto;
}

.table th,
tr {
  width: auto;
  font-size: 2rem;
}

.navText {
  font-size: 1.4rem;
  text-indent: 2.3rem;
}